# Environments
venv/
env/
.venv

# Python
__pycache__/

# Database
*.db
*.bak
*.sqlite
*.sqlite3

# App specific
static/uploads/

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Extra ignore files
static/reports/
backend/scratch/
.fastaccess